
body{
    overflow-x: hidden;
}
/* ---------------------------------------------------------------------------------------------- */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(0);
    
}
#indi1,#indi2,#indi3{
    background-color: aqua;
    height: 10px;
    width: 10px;  /* Make it visible */
    
    opacity: 1;
    border-radius: 50%; /* Ensures circular shape */
    
}
.carousel-indicators .active {
    background-color: orange !important;
    
    height: 14px !important;
    width: 13px !important;
}
.navbar-nav .nav-link {
    color: aqua!important;  /* Default color */
    transition: 0.3s;
}
 .nav-link.active{
    color: orange !important;  /* Change active color */
    font-weight: bold;
    border-bottom: 2px solid orange; 
}
