.hire{
  text-decoration: none;
  color: black;
}
#sofa{
    height: 600px;
    width: 50%;
    margin-left: 850px;
}
.carousel-item h5,p{
 margin-left: -860px;
 margin-top: -400px;
}
.btn1{
    background-color: orange;
    color: white;
    margin-left: -900px;
    border: none;
    padding: 10px;
    width: 130px;
}
.btn2{
    background-color:aqua;
    color: white;
     margin-left: 10px;
    border: none;
    padding: 10px;
    width: 130px;
}

body {
    overflow-y: auto; /* Disable vertical scrolling */
    overflow-x: hidden; /* Allow horizontal scrolling */
}
